.row
  .col-xs-12
    %h1.text-center Listing Finders
    - if user_signed_in?
      %h3.text-center= link_to 'Add New Finder', new_finder_path, class: 'btn btn-success'
  .col-xs-12.col-sm-4
    %h3.text-center Finding For
    %ul
      - @finders.each do |finder|
        - if user_signed_in?
          %li= link_to h(finder.name), finder
        - else
          %li= h(finder.name)
  .col-xs-12.col-sm-8
    %h3.text-center Reference
    %ul
      - @finders.each do |finder|
        %li= link_to h(finder.reference), h(finder.reference), target: '_blank'
