.row
  .col-xs-12
    %p
      %strong Name:
      = @finder.name
    %p
      %strong Reference:
      = @finder.reference
    = link_to 'Edit', edit_finder_path(@finder), class: 'btn btn-link'
    |
    = link_to 'Back', finders_path, class: 'btn btn-link'
