ul#nav-mobile .dropdown-button .material-icons {
  line-height: inherit;
}

.pagination{
  li.active {
    color: #fff;
  }
}

#toast-container {
  .success {
    background-color: $success-color;
  }

  .error {
    background-color: $secondary-color;
  }
}

.container {
  padding: 0;
}

.brand-logo {
  left: 0 !important;
  padding-left: 10px !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transform: translateX(0) !important;
}